/* layout */

.container { width: 960px; margin: 0 auto; }

#header {  }
	#header #nav {}
#content { float: left; width: 600px; }
#sidebar { float: left; width: 360px; }

/* navigation */
#nav ul { list-style: none;   }
#nav ul li { display: inline; }