/* layout */
.container { width: 960px; margin: 0 auto; }
#header { clear: both; }
#content { float: left; width: 700px; }
#sidebar { float: left; width: 260px; }
#footer { clear: both; }

/* navigation */
#nav ul { list-style: none;   }
#nav ul li { display: inline; }

/* style */
#header {}
#nav {}
#sidebar {}
#footer {}